<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+VIC+Guides&display=swap');
</style>
*{
    margin: 0px;
    padding: 0;
}
h2 {
    color: red;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: "Open Sans", serif;
    text-decoration: overline;
    font-size: 60px;
    padding-top: 250px;
}
.heaading-parent {
    background-image: url("background.jpg");
    clip-path: polygon(0 0, 100% 0, 89% 85%, 0% 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.btn-parent {
    text-align: center;
    margin: 25px 0px;
}
.btn {
    background-color: tomato;
    padding: 8px 10px;
    color: aquamarine;
    border-style: dashed;
    border-color: aqua;
    border-radius: 6px;
}